* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: "Source Sans Pro", sans-serif, arial;
}

h1 {
    font-size: 6rem;
}

h3 {
    font-size: 4rem;
    margin: 1.6rem auto;
    text-transform: capitalize;
}

h4 {
    font-size: 3rem;
    margin: 1.6rem auto;
    text-transform: capitalize;
}

P {
    margin: 2rem auto;
}

/*Header*/
body > header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    filter: brightness(0.8);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
}

nav .nav-logo {
    width: 25%;
}

nav .nav-links {
    flex: 1;
    text-align: left;
}

nav .nav-links ul {
    list-style: none;
    display: flex;
    justify-content: end;
}

nav .nav-links ul li {
    padding: 0 4rem;
}

nav .nav-links ul li::after {
    content: "";
    width: 0%;
    height: 0.4rem;
    background-color: #cc0000;
    margin: auto;
    display: flex;
    transition: 0.7s ease-in-out;
}

nav .nav-links ul li:hover::after {
    width: 100%;
}

nav .nav-links ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.8rem;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
}

.title h1 {
    color: #fff;
    margin: 2rem auto;
    text-transform: uppercase;
}

.title p {
    color: #fff;
    font-size: 2rem;
    width: 50%;
    line-height: 3rem;
    text-align: justify;
}

.title button {
    padding: 1.5rem;
    margin: 2rem 0 0 0;
    border-radius: .4rem;
    outline: none;
    border: 1px solid #cc0000;
    background-color: #cc0000;
    cursor: pointer;
}

.title button a {
    color: #fff;
    font-size: 1.4rem;
}

.title button:hover {
    background-color: transparent;
    transition: 0.6s;
}

section {
    width: 80%;
    margin: 8rem auto;
    text-align: center;
}

section p {
    font-size: 2rem;
}

.course {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 3rem auto;
}

.course article {
    width: 30%;
    margin: 0 1rem;
    padding: 2rem 1rem;
    background-color: #f3f3f3;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.5s;
}

.course article:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.campus article {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card {
    width: 30%;
    overflow: hidden;
    border-radius: 0.8rem;
    position: relative;
    margin: 0 1rem;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card .layer {
    width: 100%;
    height: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    position: absolute;
}

.card .layer:hover {
    background-color: rgba(255, 0, 0, 0.6);
}

.card .layer h2 {
    font-size: 3rem;
    width: 100%;
    font-weight: 600;
    color: #fff;
    bottom: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    transition: 0.8s;
}

.card .layer:hover h2 {
    bottom: 49%;
    opacity: 1;
}

.facilities .facilities-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.facilities-items article {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.facilities-items article img {
    border-radius: 0.8rem;
}

.facilities-items article p {
    margin: 0;
}

.students {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem auto;
}

.students article {
    width: 45%;
    border-radius: 0.8rem;
    background-color: #f3f3f3;
    padding: 2rem;
    cursor: pointer;
    transition: 0.5s;
}

.students article:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.students article img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.contacts {
    background-image : linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(images/banner2.jpg);
    padding: 10rem 1rem;
}

.contacts-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contacts .contacts-header h3 {
    color: #fff;
}

.contacts .contacts-header a {
    text-decoration: none;
    font-size: 2rem;
    color: #fff;
    padding: 1.5rem 2rem;
    border: 1px solid #fff;
    margin: 3rem 0;
    width: 10rem;
}

.contacts-header a:hover {
    background-color: #cc0000;
    border: none;
    outline: none;
    transition: .8s;
}